* {
  margin: 0;
  padding: 0;
  background-color: #011532;
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background-color: #0f3267;
}

.leftcontainer {
  background-color: #0f3267;
  font-size: 2rem;
  font-weight: 600;
}

.rightcontainer a {
  background-color: #0f3267;
}

nav ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
  font-size: 20px;
  font-weight: 600;
}

body > header > nav > div.rightcontainer > ul > a > li:hover {
  color: coral;
  font-size: 1.3rem;
}

.rightcontainer a {
  text-decoration: none;
}

.navbaritem {
  background-color: #0f3267;
}

.mainbox {
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
  height: 80vh;
  align-items: center;
}

.left {
  width: 33%;
  height: 50vh;
  font-size: 3rem;
  margin-top: 135px;
  margin-left: 180px;
}
.right {
  width: 30%;
  height: 50vh;
  margin-top: -40px;
  margin-left: 100px;
  margin-right: 150px;
}
#Krish {
  color: coral;
  font-weight: 600;
  font-size: 50px;
}

#element {
  color: coral;
  font-weight: 600;
}

.aboutme {
  font-size: 3.5rem;
  margin-top: 30px;
  margin-left: 290px;
  color: coral;
}
#projectheading {
  font-size: 3.5rem;
  margin-left: 290px;
  color: coral;
}
.container {
  width: 80%;
  text-align: justify;
  margin-top: 50px;
  margin-left: 290px;
  font-size: 25px;
  margin-bottom: 70px;
}
.project {
  height: 80vh;
  margin-left: 290px;
}

.project1 {
  width: 50%;
  height: 50vh;
  margin-bottom: 80px;
}
.project2 {
  width: 50%;
  height: 50vh;
  margin-bottom: 80px;
}
.project3 {
  width: 50%;
  height: 50vh;
  margin-bottom: 80px;
}

body > main > section.third > div > div.project.project2 > img {
  border-radius: 25px;
}
body > main > section.third > div > div.project.project1 > img {
  border-radius: 25px;
}
body > main > section.third > div > div.project.project3 > img {
  border-radius: 25px;
}
.contactme {
  font-size: 3.5rem;
  margin-top: 30px;
  margin-left: 150px;
  color: coral;
}

.contactmecontent {
  font-size: 25px;
  margin-left: 150px;
}
#copyright {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}
#abovecopyright {
  margin-top: 50px;
}

@media (max-width:600px){
  * {
    margin: 0;
    padding: 0;
    background-color: #011532;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: #0f3267;
  }
  .leftcontainer {
    background-color: #0f3267;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .rightcontainer a {
    background-color: #0f3267;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  
  nav ul li {
    list-style: none;
    margin: 0 23px;
    font-size: 10px;
    font-weight: 600;
  }
  body > header > nav > div.rightcontainer > ul > a > li:hover {
    color: coral;
    font-size: 0.5rem;
  }
  
  .rightcontainer a {
    text-decoration: none;
  }
  
  .navbaritem {
    background-color: #0f3267;
  }
  .mainbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    align-items: center;
  }
  
  .left {
    width: 33%;
    height: 50vh;
    font-size: 1rem;
    margin-top: 50px;
    margin-left: 0px;
    text-align: center;
  }

#KrishImage{
  height: 250px;
  width: 250px;
}
  .right {
    width: 30%;
    height: 50vh;
    margin-left: 50px;
    margin-right: 150px;
  }


  #Krish {
    color: coral;
    font-weight: 600;
    font-size: 25px;
  }
  
  #element {
    color: coral;
    font-weight: 600;
  }
  .aboutme {
    font-size: 2rem;    
    color: coral;
    margin-left: 20px;
}
.container {
  width: 80%;
  text-align: justify;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 10px;
  margin-bottom: 70px;
}
#projectheading {
  font-size: 2rem;
  margin-left: 20px;
  color: coral;
  height: 250px;

}
.project{
  margin-left: 20px;
height: 100px;
}
.project1 {
  width: 700px;
  height: 10vh;
  margin-bottom: 500px;
}
.project2 {
  width: 440px;
  height: 10vh;
  margin-bottom: 500px;
}
.project3 {
  width: 440px;
  height: 10vh;
  margin-bottom: 500px;
}

body > main > section.third > div > div.project.project2 > img {
  border-radius: 25px;
}
body > main > section.third > div > div.project.project1 > img {
  border-radius: 25px;
}
body > main > section.third > div > div.project.project3 > img {
  border-radius: 25px;
}
.contactme {
  font-size: 2rem;
  margin-top: 30px;
  margin-left: 20px;
  color: coral;
}

.contactmecontent {
  font-size: 25px;
  margin-left: 20px;
}
#copyright {
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}
#Contactmenav > div > div > h2{
  font-size: 20px;
}
#abovecopyright {
  margin-top: 50px;
}

}